<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://image.flaticon.com/icons/svg/2302/2302134.svg" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <span class="navbar-text">
      I Love Cocktails
    </span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class:"nav-link ml-4" %>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle " id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://image.flaticon.com/icons/svg/148/148890.svg" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Don't like it ðŸ—‘ï¸", cocktail_path(@cocktail), method: :delete , class:'btn btn-primary dropdown-item'%>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo, crop: :fill %>);">
  <div class="container">
    <h1 ><%= @cocktail.name %></h1>
  </div>
  <div class="d-flex justify-content-end">
    <div class="col-2">
      <%= link_to 'Edit', edit_cocktail_path(@cocktail), class:'btn btn-ghost' %>
   </div>
  </div>
</div>
<div class=" d-flex justify-content-around">
  <div class="col-4">
    <h3>Personnalize: </h3>
    <div class="card rounded mb-4">
      <div class="form-group border-light p-4">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.button :submit, 'Add', class:'btn btn-primary btn-sm w-100px' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Ingredients:
      </div>
        <% @cocktail.doses.each do |dose|  %>
        <div class="card-body">
          <li class="list-inline mr-2"><h6><%= dose.ingredient.name %>  <%= link_to 'x', dose_path(dose), method: :delete %></h6><small><%= dose.description %></small></li>
        </div>
      <% end %>
    </div>
  </div>
</div>

